# which branch of the ODP-API family of projects to clone from GitHub, e.g. master | development | etc
CHECKOUT_BRANCH=master

# deployment environment = development | testing | staging | production
SERVER_ENV=

# URL of the ODP Accounts API
ACCOUNTS_API_URL=https://accountsapi.saeon.xxx

# List of roles that may read metadata within their own institution
METADATA.READONLY_ROLES=["viewer"]

# List of roles that may read and write metadata within their own institution
METADATA.READWRITE_ROLES=["contributor"]

# List of roles that may access all metadata functions for any institution
METADATA.ADMIN_ROLES=["curator"]

# URL of the CKAN server
CKAN_ADAPTER.CKAN_URL=https://ckan.saeon.xxx

# URL of the Elasticsearch instance; must include port
ELASTIC_ADAPTER.ES_URL=http://elastic.saeon.xxx:80

# List of Elastic indexes to search
ELASTIC_ADAPTER.INDICES=["saeon-odp-4-2"]
